DATABASE_URL=postgresql://postgres:postgres@localhost:5432/moto_assistant
# appId|appSecret
WECHAT_CONFIG='<appId>|<appSecret>'
# accountId|accessKeyId|secretAccessKey|bucket|keyPrefix
R2_CONFIG='<accountId>|<accessKeyId>|<secretAccessKey>|<bucket>|moto_assistant'
